.App {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  text-align: center;
  color: darkslategray;
  background-color: white;
}

h1 {
  font-family: "Sarina", cursive;
  color: hotpink;
  margin: 4px;
  padding-top: 16px;
}

p {
  width: 360px;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 0px;
  font-size: 10px;
  font-weight: 300;
}

footer {
  padding: 16px;
  font-size: 10px;
  font-weight: 300;
}

a {
  text-decoration: none;
  font-weight: 600;
  transition: 200ms;
  color: darkslategray;
}

a:hover {
  color: hotpink;
}

button {
  font-family: "Sarina", cursive;
  font-size: 16px;
  font-weight: bold;
  color: hotpink;
  background-color: white;
  border-radius: 2px;
  border: none;
  border-bottom: 4px white solid;
  height: 36px;
  width: 100px;
  margin: 8px;
  transition: 600ms ease-in-out;
  cursor: pointer;
}

.active {
  color: hotpink;
  border-bottom: 4px lavender solid;
  cursor: default;
}

.active:hover {
  border-bottom: 4px lavender solid;
}

button:hover {
  background-color: white;
  border-bottom: 4px lavenderblush solid;
}

.wrapper {
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(5, auto);
  border: 0px lavenderblush solid;
  width: 360px;
  background-color: white;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  width: 50px;
  height: 50px;

  padding: 10px;
  font-size: 10px;
  border: 1px white solid;

  cursor: pointer;
  transition: 600ms ease-in-out;
}

.tile:hover {
  background-color: lavenderblush;
  border-radius: 100px;
}

.tile--set {
  background-color: lavender;
  border-radius: 100px;
}

.tile--set:hover {
  background-color: lavender;
  border-radius: 100px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;

  overflow-y: hidden;
  overflow-x: hidden;

  height: 100vh;
  width: 100vw;
  margin: 0;

  pointer-events: none;
}
